@using SMovie.Dashboard.Constants
@using SMovie.Domain.Models
@using SMovie.Domain.Enum
@model PagedList<InfoMovie>

<div class="content-inner container-fluid pb-0" id="page_layout">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-bottom d-flex justify-content-between align-items-center pb-3">
                <div class="d-flex align-items-center pt-3">
                    <div class="form-group">
                        <label class="me-2">Status</label>
                        <select type="select" class="status-movie form-control select2-basic-multiple w-50" placeholder="No Action">
                            <option value="@((int)MovieStatusType.All)">@MovieStatusType.All.ToString()</option>
                            <option value="@((int)MovieStatusType.Released)">@MovieStatusType.Released.ToString()</option>
                            <option value="@((int)MovieStatusType.Pending)">@MovieStatusType.Pending.ToString()</option>
                            <option value="@((int)MovieStatusType.Upcoming)">@MovieStatusType.Upcoming.ToString()</option>
                        </select>
                        <label class="ms-4 me-2">Feature</label>
                        <select type="select" class="feature-movie form-control select2-basic-multiple  w-50" placeholder="No Action">
                            <option value="@((int)FeatureMovie.All)">@FeatureMovie.All.ToString()</option>
                            <option value="@((int)FeatureMovie.Cinema)">@FeatureMovie.Cinema.ToString()</option>
                            <option value="@((int)FeatureMovie.Standalone)">@FeatureMovie.Standalone.ToString()</option>
                            <option value="@((int)FeatureMovie.TVSeries)">@FeatureMovie.TVSeries.ToString()</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="custom-table-effect table-responsive  border rounded py-4">
                <table class="table mb-0" id="datatable" data-toggle="data-table">
                    <thead>
                        <tr class="bg-white">
                            <th scope="col">Thumbnail</th>
                            <th scope="col">English Name</th>
                            <th scope="col">Feature</th>
                            <th scope="col">Nation</th>
                            <th scope="col">Category</th>
                            <th scope="col">Produced Created</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="movie-list-table">
                        @{
                            await Html.RenderPartialAsync(ConstantComponent.DisplayMovieList, (PagedList<InfoMovie>)Model);
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
        </div>


@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // $('.status-movie').change(function () {
            //     var status = $(this).val();
            //     $.ajax({
            //         url: '/Filter/FilterUserByStatus',
            //         type: 'POST',
            //         data: { status: status, page: 1, eachPage: 10 },
            //         success: function (data) {
            //             $('#user-list-table tbody').html(data);
            //         }
            //     });
            // });
        });
    </script>
}
