@using SMovie.Domain.Models
@model IEnumerable<UserDetail>
@using SMovie.Domain.Enum
@using SMovie.Dashboard.Constants

<div class="content-inner container-fluid pb-0" id="page_layout">
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header border-bottom d-flex justify-content-between align-items-center pb-3">
                        <div class="d-flex align-items-center pt-3">
                            <div class="form-group">
                                <select type="select" class="form-control select2-basic-multiple status-account" placeholder="No Action" >
                                    <option value="@((int)AccountStatus.All)">@AccountStatus.All.ToString()</option>
                                    <option value="@((int)AccountStatus.Active)">@AccountStatus.Active.ToString()</option>
                                    <option value="@((int)AccountStatus.Pending)">@AccountStatus.Pending.ToString()</option>
                                    <option value="@((int)AccountStatus.Blocked)">@AccountStatus.Blocked.ToString()</option>
                                </select>
                                <button class="btn btn-primary ">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive rounded py-4 table-space">
                            <table id="user-list-table" class="table custom-table" role="grid" data-toggle="data-table">
                                <thead>
                                    <tr class="ligth">
                                        <th>Avatar</th>
                                        <th>Display Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th>Join Date</th>
                                        <th style="min-width: 100px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        await Html.RenderPartialAsync(ConstantComponent.DisplayUserList, (IEnumerable<UserDetail>)Model);
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.status-account').change(function () {
                var status = $(this).val();
                $.ajax({
                    url: '/Filter/FilterUserByStatus',
                    type: 'POST',
                    data: { status: status, page: 1, eachPage: 10 },
                    success: function (data) {
                        $('#user-list-table tbody').html(data);
                    }
                });
            });
        });
    </script>
}
